body{
	background: url(https://images.unsplash.com/photo-1535852843010-69202d34cc6f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);

}

.container {
	margin: 20px auto;
	
}

.main-title {
	text-align: center;
	margin-bottom: 30px;
	margin-left: 7%;
	color: white;
}
.order-search {
	width: 500px;
	margin: auto;
}

#button-addon2{
	background-color:orange ;
	color: black;
}

#order-id-display{
	color: black;
	
}
.order-status-block {
	display: block;
	margin: 10px auto;
	width: 600px;
	pointer-events: none;

	
}

.order-status-wrapper {
	background-color: #eee;
	padding: 20px;
	border-radius: 20px;
	width: 700px;
	margin: auto;


}